
            @media (min-width: 1200px) {
            .container {  	
                width: 1200px;
                
            }}
         :root {  
            --maincolor: #A58157;  
            --bodycolor: #525050;  
        }html{
            font-size: 14px;
        }body{
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            color: #525050;
        }.pos_title h2,.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
            font-family: "Poppins", sans-serif;
            color: #121111;
            text-transform: capitalize;
			font-weight: 600;
        }.pos_title h2{
            font-size: 24px;
        }.pos-title{
            font-family: "Poppins", sans-serif;
        }.pos-title-column h4{   
            font-size: 20px;
        }#header .sticky-inner.scroll-menu{  
            background-color: #ffffff;   
        }.js-product-miniature .product_desc .product_name{
            color: #121111;
            text-transform: none;
            font-weight: 400;
        }@media(min-width: 768px){
                .js-product-miniature .product_desc .product_name{
                font-size: 16px;
                }
            }.js-product-miniature .product_desc .product_name:hover{
            color: #A58157;
        }.product-price-and-shipping .price{
            color:#555555;
            font-size: 16px;
        }.h1.namne_details, .product_name_h1{
            color: #121111;
            font-size: 24px;
            text-transform: none;
        }.product-prices .price, .product-prices .current-price span:first-child{
            color:#121111;
            font-size: 22px;
        }#product.showcase-body #header,.showcase-inner,#product.showcase-body .page-title-wrapper{
            background-color: ;
        }