{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    Przelewy24 powered by Waynet
 * @copyright Przelewy24
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{% if historyPaymentRenderer.transactionHistoryCollection.collection %}

  <link
    rel="stylesheet"
    href="{{ asset('../modules/przelewy24payment/views/css/admin/order.css') }}"
  />

  <div class="row">
    <div class="js-przelewy-order-details col-12 col-xs-12 {% if refundFormRenderer.allowRender %}col-lg-7{% endif %}">
      {{ historyPaymentRenderer.render() | raw }}
    </div>
    {% if refundFormRenderer.allowRender %}
      <div class="col-12 col-xs-12 col-lg-5 js-przelewy-order-refund-wrapper">
        {{ refundFormRenderer.render() | raw }}
      </div>
    {% endif %}
  </div>

  <script src="{{ asset('../modules/przelewy24payment/views/js/admin/order.js') }}"></script>
{% endif %}


