<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /**
  ~  Copyright 2024 DPD Polska Sp. z o.o.
  ~
  ~  NOTICE OF LICENSE
  ~
  ~  Licensed under the EUPL-1.2 or later.
  ~  You may not use this work except in compliance with the Licence.
  ~
  ~  You may obtain a copy of the Licence at:
  ~  https://joinup.ec.europa.eu/software/page/eupl
  ~  It is also bundled with this package in the file LICENSE.txt
  ~
  ~  Unless required by applicable law or agreed to in writing,
  ~  software distributed under the Licence is distributed on an AS IS basis,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the Licence for the specific language governing permissions
  ~  and limitations under the Licence.
  ~
  ~  @author    DPD Polska Sp. z o.o.
  ~  @copyright 2024 DPD Polska Sp. z o.o.
  ~  @license   https://joinup.ec.europa.eu/software/page/eupl
 -->
<module>
    <name>dpdshipping</name>
    <displayName><![CDATA[Moduł Wysyłkowy - DPD Polska sp. z o. o.]]></displayName>
    <version><![CDATA[2.0.1]]></version>
    <description><![CDATA[Moduł Wysyłkowy - DPD Polska sp. z o. o.]]></description>
    <author><![CDATA[DPD Poland sp. z o. o.]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>